* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
  color: #333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #868686;
}

textarea {
  resize: none;
}
