* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html,
body {
    font-size: 100%;
    font-family: 'Raleway';
    min-height: 100vh;
    color: #55555A;
}

ul { list-style: none }

a { text-decoration: none }

textarea {
    resize: none;
}
