.curabitur {
  background-attachment: fixed;
  background-image: url(../img/predio.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  .curabitur-filtro {
    background-color: rgba(255, 0, 0, .2);
    color: white;
    height: 100%;
    padding: 70px 0;
    width: 100%;

    .curabitur-texts {
      align-items: center;
      display: flex;
      flex-direction: column;
      line-height: 1.5em;
      text-align: center;

      .curabitur-subtitulo {
        font-size: 2.2em;
        font-weight: normal;
        padding-top: 60px;
      }
      .curabitur-paragrafo {
        font-size: 1em;
        padding: 40px 0;
      }
    }
  }
}
