@import './variaveis.scss';
@import './mixin.scss';

.faucibus {
  background-attachment: fixed;
  background-image: url(../img/parede_e_vidro.jpg);
  background-size: cover;

  .faucibus-filtro {
    background-color: rgba($cor-branco, .95);
    padding: 20px 0;
    text-align: center;

    .faucibus-subtitulo {
      @include subtitulo;
    }

    .faucibus-paragrafo {
      @include paragrafo;
    }
  }
}

.faucibus-lista-avaliacao {
  justify-content: space-between;
  padding: 0 20px 50px 20px;

  .faucibus-avaliacao {
    background-color: $cor-branco;
    box-shadow: 1px 1px 8px $cor-branco-escuro;
    margin: 20px 0;
    padding: 50px 50px;
    position: relative;

    .faucibus-avaliacao-text {
      border-left: 7px;
      border-color: $cor-cinza;
      border-style: solid;
      margin: 20px 0;
      padding: 20px 0 20px 20px;
      text-align: left;

      .faucibus-avaliacao-paragrafo {
        font-style: italic;
        font-size: 1.05em;
      }
    }

    .faucibus-avaliacao-pessoa {
      align-items: center;
      display: flex;
      justify-content: space-evenly;

      .faucibus-pessoa-imagem {
        border-radius: 50%;
        height: 55px;
      }
      .faucibus-pessoa-paragrafo {
        font-size: 0.8em;

        .faucibus-pessoa-paragrafo-destaque {
          color: $cor-red-escuro;
          font-weight: 600;
        }
      }
    }
  }
}
