@import './variaveis.scss';

.rotape {
  background-color: $cor-preto-claro;
  padding: 50px 20px;

  .rotape-lista {
    border-bottom: 1px;
    border-color: $cor-cinza-escuro;
    border-style: solid;
    color: $cor-cinza-claro;
    font-size: 1.05sem;
    line-height: 1.5em;
    padding-bottom: 40px;

    .rotape-item {
       .rotape-subtitulo {
         color: $cor-branco;
         font-weight: normal;
         font-size: 1.2em;
         padding: 20px 0;
         text-transform: uppercase;
       }
    }
  }

  .rotape-copyright {
    font-size: .9em;
    padding: 25px 0;
    text-align: center;
  }
}

.rotape-lista-links {
  .rotape-link {
      border-bottom: 1px;
      border-color: $cor-cinza-escuro;
      border-style: solid;
      padding: 15px 0;

      &:last-child {
        border: 0;
      }

     .rotape-link-texto {
       &:hover {
         color: $cor-red-escuro;
         transition: .5s;
       }
     }
   }
}

.rotape-rede-social {
  .rotape-rede-social-link {

    &:hover {
      color: $cor-red-escuro;
      transition: .5s;
    }

    .rotape-rede-social-icone {
      background: $cor-preto;
      border-radius: 5px;
      color: $cor-branco;
      margin: 7px;
      padding: 10px 0;
      text-align: center;
      width: 35px;
    }
  }
}
