// Header Navbar
.navbar {
    align-items: center;
    background-color: black;
    display: flex;
    font-size: 1em;
    font-style: none;
    justify-content: space-between;
    padding: 15px 20px;
    position: fixed;
    text-decoration: none;
    z-index: 4;
    width: 100%;

    .navbar-logo-principal {
        .navbar-logo {
            color: white;

            font-weight: 600;
        }
    }

    .navbar-menu-ativa {
        color: #9f9f9f;

        .navbar-menu {
            font-weight: bold;
            transition: 0.5s;

            &:hover {
              color: white;
            }

            .fa-bars {
              padding: 0 10px;
            }
        }
    }
}
