// Header Navbar
.navbar {
    align-items: center;
    background-color: black;
    display: flex;
    font-size: 1em;
    font-style: none;
    justify-content: space-between;
    padding: 15px 20px;
    position: fixed;
    text-decoration: none;
    z-index: 4;
    width: 100%;

    .navbar-logo-principal {
        .navbar-logo {
            color: white;

            font-weight: 600;
        }
    }

    .navbar-menu-ativa {
        color: #9f9f9f;

        .navbar-menu {
            font-weight: bold;
            transition: 0.5s;

            &:hover {
              color: white;
            }

            .fa-bars {
              padding: 0 10px;
            }
        }
    }
}


.ativa {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #111111;
  width: 300px;
  height: 100vw;
  padding: 20px 20px;

  .ativa-x {
    display: flex;
    justify-content: flex-end;
    font-size: 1.1em;
    text-align: right;

    &:hover {
      color: white;
    }
  }

  .ativa-lista-links {
    font-size: .9em;

    .ativa-link {
      padding: 20px 0;
      border-bottom: 1px;
      border-color: #383838;
      border-style: solid;

      .ativa-link-texto {

        &:hover {
          color: white;
        }
      }
    }
  }
}
