// Header Navbar
.navbar {
    align-items: center;
    background-color: black;
    display: flex;
    font-size: 1em;
    font-style: none;
    justify-content: space-between;
    padding: 15px 20px;
    position: fixed;
    text-decoration: none;
    z-index: 4;
    width: 100%;

    .navbar-logo {
      color: white;
      font-weight: 600;
    }

    .navbar-menu {
      cursor: pointer;
      font-weight: 600;
    }

    .sidebar-lista-links {
      .sidebar-link {
        padding: 20px 0px;
        border-bottom: 1px;
        border-color: #444444;
        border-style: solid;

        &:last-child {
          border: 0;
        }

        .sidebar-link-texto {
          &:hover {
            color: white;
            transition: .5s;
          }
        }
      }
    }
}


.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111111;
  width: 300px;
  height: 100%;
  padding: 20px 20px;
  transition: 1s ease-in-out;

  .btn-close {
    display: flex;
    justify-content: flex-end;

    .btn-close-icon {
      cursor: pointer;
      font-size: 1.2em;

      &:hover {
        color: white;
        transition: .5s;
      }
    }
  }

  &.closed {
    right: -300px;
  }
}
