.turpis_banner {
  background-image: url(../img/parede_e_vidro.jpg);
  background-attachment: fixed;
  background-size: cover;

  .turpis {
    background-color: rgba(255, 255, 255, .95);
    width: 100%;
    height: 100%;
    opacity: 1;
    text-align: center;
    color: #55555A;

    .turpis-title {
      font-size: 2em;
      padding: 50px 0 30px 0;
      font-weight: normal;
    }
    .turpis-paragraph {
      padding-bottom: 50px;
    }
  }
}

.box-option {
    box-shadow: 1px 1px 8px #e5e5e5;
    background-color: white;
    margin: 20px auto;
    box-sizing: content-box;


    .option-icon {
      font-size: 4.5em;
      color: #CE1B28;
      padding: 25px 0;
    }
    .option-subtitle {
      font-weight: normal;
    }

    .option-paragraph {
      padding: 25px 0;
    }
}
