@import './variaveis.scss';
@import './mixin.scss';

.turpis {
  background-attachment: fixed;
  background-image: url(../img/parede_e_vidro.jpg);
  background-size: cover;

  .turpis-filtro {
    background-color: rgba($cor-branco, .95);
    padding: 20px 0;
    text-align: center;

    .turpis-subtitulo {
      @include subtitulo;
    }
    .turpis-paragrafo {
      @include paragrafo;
    }
  }
}

.lista-de-vantagem {
  justify-content: space-between;
  padding: 0 20px;

  .vantagem-item {
      background-color: $cor-branco;
      box-shadow: 1px 1px 8px $cor-branco-escuro;
      margin: 20px 0;
      padding: 50px 40px;

      .vantagem-icone {
        color: $cor-red-escuro;
        font-size: 4.5em;
        padding: 25px 0;
      }
      .vantagem-subtitulo {
        font-weight: normal;
        text-transform: uppercase;
      }

      .vantagem-paragrafo {
        padding: 25px 0;
      }
  }
}
