$cor-preto: black;
$cor-preto-claro: #111111;

$cor-branco: white;
$cor-branco-escuro: #e5e5e5;

$cor-red: red;
$cor-red-escuro: #c10000;

$cor-cinza: #bfbfbf;
$cor-cinza-escuro: #595959;
$cor-cinza-claro: #868686;
